
.app {
    display: table;
    width: 100%;
    height: 94%;
}

.app-menu {
    display: table;
    width: 100%;
    height: 6%;
    background-color: #243c23;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.app-section {
    display: table-cell;
    position: relative;
    width: 33.33%;
    height: 100%;
    /*text-align: center;*/
    vertical-align: top;    
}

.accept {
    position: absolute;
    bottom: 10px;
    left: 16.67%;
    transition: 0.2s;
    margin: 10px auto;
    width: 70%;
    height: 40px;
    line-height: 1em;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    border: 2px solid #fff;
    background-color: transparent;
}

.accept:hover {
    transition: 0.2s;
    color: #243c23;
    background-color: #fff;
}

.avatar {
    width: 80px;
    height: 80px;
    margin: 0px auto;
    border: 2px solid #fff;
    border-radius: 40px;
}

.cur {
    font-weight: 700;
}

.cur-arrow {
    height: 11px;
    padding: 0px 10px;
    margin: auto;
}

.curr {
    font-weight: 700;
    font-size: 16pt;
}

.curr-arrow {
    height: 15px;
    padding: 0px 10px;
    margin: auto;
}

.depart, .arrive {
    margin: 20px 0px;
}

.depart span, .arrive span {
    font-size: 12px;
    color: #dcdcdc;
}

.found {
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    overflow: scroll;
}

.info {
    color: #fff;
}

.matched {
    background-color: #243c23;
    color: #fff;
    padding-top: 70px;
}

.matched-info {
    margin: 10% auto;
}

.matched-wrapper {
    width: 100%;
    text-align: center;
}

.params {
    color: #fff;
    height: 25%;
    width: 100%;
    display: table;
    text-align: center;
    background-color: #243c23;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    box-sizing: border-box;
}

.params-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.profile {
    display: table;
    height: 30%;
    width: 100%;
    background-color: #243c23;
}

.req {
    transition: 0.2s;
    color: #fff;
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: #243c23;
}

.req:hover {
    transition: 0.2s;
    background-color: #415f3f;
}

.requests {
    box-sizing: border-box;
    height: 70%;
    width: 100%;
    padding: 0px 10px;
    overflow: scroll;
    border-right: 2px solid #243c23; 
}