/*
Useful values:
	Theme HEX: 243c23
	Theme RGB: rgb(36,60,35)
	Random color: 243
*/

* {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

form {
	margin: 5px 0px 20px 0px;
}

input {
	padding: 4px 10px;
	margin: 4px 1px;
	border-radius: 4px;
	width: 80%;
}

input[type=submit] {
	transition: 0.2s;
	margin: 15px 5px;
	padding: 8px 0px;
	width: 85%;
	font-weight: 700;
	background-color: #243c23;
	border: 2px solid #fff;
	color: #fff;
}

input[type=submit]:hover {
	transition: 0.2s;
	background-color: #fff;
	color: #243c23;
}

.background {
	background-image: url("img/bkg.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.button {
	transition: 0.2s;
	color: #fff;
	text-align: center;
	padding: 10px 35px;
	border: 2px solid #fff;
	border-radius: 12px;
	text-decoration: none;
}

.button:hover {
	transition: 0.2s;
	color: #243c23;
	background-color: #fff;
}

.center-wrapper {
	display: table-cell;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.copyright {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 10pt;
	line-height: 1.75;
}

.copyright a {
	text-decoration: none;
	font-style: italic;
	color: #fff;
}

.copyright a:hover {
	text-decoration: underline;
}

.exp-step {
	display: table-cell;
	vertical-align: middle;
	width: 33%;
	height: 100%;
}

.footer {
	display: table;
	height: 200px;
	width: 100%;
	background-color: rgba(0,0,0,0.95);
}

.form-label {
	padding: 0px 20px;
	margin: 0px;
	text-align: left;
	font-size: 10pt;
}

.form-link {
	display: block;
	margin: 10px auto;
	color: white;
	font-size: 10pt;
	text-decoration: underline;
}

.form-link:hover {
	text-decoration: none;
	cursor: pointer;
}

.generic-header {
	text-align: center;
	font-size: 36px;
	font-weight: 400;
}

.generic-subheader {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
}

.color-overlay-green {
	display: table;
	height: 100%;
	width: 100%;
	background-color: rgba(36,60,35,.75);
}

.color-overlay-white {
	display: table;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,.90);
}

.login {
	display: table-cell;
	width: 50%;
	height: 100%;
}

.login-field {
	transition: 0.5s;
	display: block;
	margin: 0px auto 15px auto;
	border-radius: 0px;
	padding: 5px 5px;
	border: 0px;
	background-color: rgba(0,0,0,0);
	border-bottom: 2px solid rgb(148, 148, 148);
	color: white;
}

.login-field:focus {
	transition: 0.5s;
	outline: none;
	border-color: white;
}

.login-button {
	transition: 0.5s;
	margin: 10px auto 0px auto;
	padding: 8px 0px;
	width: 85%;
	font-weight: 700;
	font-size: 10pt;
	background-color: #243c23;
	border: 2px solid rgb(148, 148, 148);
	color: #fff;
	cursor: pointer;
}

.login-button:focus {
	transition: 0.5s;
	border-color: white;
}

.login-button:hover {
	transition: 0.5s;
	border-color: white;
}

.login-button:focus {
	outline: none;
}

.login-box {
	display: table;
	text-align: center;
	margin: 30px auto;
	width: 275px;
	background-color: rgba(36, 60, 35, 0.77);
	border: 4px solid rgba(255, 255, 255, 0.75);
}

.login-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	width: 100%;
}

.matched-requests {
	width: 100%;
	height: 70%;
	border-radius: 10px;
}

.menu {
	position: absolute;
	display: table;
	height: 90px;
	width: 100%;
}

.menu-item {
	transition: 0.3s;
	display: table-cell;
	color: #fff;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.menu-item:hover {
	transition: 0.3s;
	background-color: rgba(0,0,0,0.25);
}

.menu-logo {
	display: table-cell;
	width: 80%;
	vertical-align: middle;
	padding-left: 20px;
}

.more-info {
	display: table;
	text-align: center;
	margin: 10px auto;
	width: 70%;
}

.more-info-cell {
	display: table-cell;
	font-size: 12px;
	color: #fff;
}

.more-info-cell span {
	color: #dcdcdc;
}

.primary {
	color: #fff;
}

.secondary {
	color: #243c23;
}

.step-title {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
}

.text-body {
	text-align: center;
	font-weight: 400;
}

.text-wrapper {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}